txt-color = #000
bg-color = #fff
main-transition = cubic-bezier(0.55, 0.05, 0.22, 0.99)

content-width = 1200px

array = (harvestx grubin syrinx genkan roboxer wearbo)
colors = (#d52c5b #f9c124 #00a8ba #0286fe #ff1418 #CCCCCC)
sxsw = (#e45441 #00a460 #00a7f1 #f4c550)

