txt-color = #000
bg-color = #fff
// txt-color = #0286fe
// bg-color = #f9c124
main-transition = cubic-bezier(0.55, 0.05, 0.22, 0.99)

content-width = 1200px

color1 = #d52c5b
color2 = #f9c124
color3 = #00a8ba
color4 = #0286fe
color5 = #ff1418
color6 = #000000


sxsw1 = rgba(228, 84, 65, 1)
sxsw2 = rgba(78, 164, 96, 1)
sxsw3 = rgba(82, 167, 241, 1)
sxsw4 = rgba(244, 197, 80, 1)

