sp()
  @media screen and (max-width: 480px) 
    {block}

tb()
  @media screen and (max-width: 1024px) 
    {block}

*
  color txt-color

.fade-enter-active, .fade-leave-active 
  transition all .3s
.fade-enter, .fade-leave-to 
  opacity 0

.slide-fade-enter-active 
  transition all .3s ease
.slide-fade-leave-active 
  transition all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.slide-fade-enter
  // transform translateY(10px) scale(.4)
  opacity 0
.slide-fade-leave-to
  // transform translateY(-10px) scale(.4)
  opacity 0

.slide-fade2-enter-active 
  transition all .3s .1s ease
.slide-fade2-leave-active 
  transition all .5s .1s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.slide-fade2-enter
  // transform translateY(10px) scale(.4)
  opacity 0
.slide-fade2-leave-to
  // transform translateY(-10px) scale(.4)
  opacity 0

.page-enter-active, .page-leave-active 
  transition opacity .5s
.page-enter, .page-leave-to 
  opacity 0

.custom-classes-enter, .custom-classes-leave-to
  opacity 0


.link-button
  transition all .4s main-transition
  color bg-color
  background txt-color
  text-decoration none
  font-weight bold
  font-size 1.2em
  letter-spacing .1em
  border 3px solid txt-color
  padding 14px 22px
  margin-top 16px
  &:hover
    transition all .3s main-transition
    background rgba(0, 0, 0, 0)
    color txt-color