sp()
  @media screen and (max-width: 480px) 
    {block}

tb()
  @media screen and (max-width: 1024px) 
    {block}

*::selection
  background rgba(228, 84, 65, 1)
  color bg-color

.fade-enter-active, .fade-leave-active 
  transition all .3s
.fade-enter, .fade-leave-to 
  opacity 0

.slide-fade-enter-active, .slide-fade-leave-active 
  transition all .3s main-transition
  webkit-clip-path inset(0)
  clip-path inset(0)
.slide-fade-enter
  -webkit-clip-path inset(100% 0 0 0)
  clip-path inset(100% 0 0 0)
.slide-fade-leave-to
  -webkit-clip-path inset(0 0 100% 0)
  clip-path inset(0 0 100% 0)

.slide-fade2-enter-active, .slide2-fade-leave-active 
  transition all .3s .1s main-transition
  webkit-clip-path inset(0)
  clip-path inset(0)
.slide-fade2-enter
  -webkit-clip-path inset(100% 0 0 0)
  clip-path inset(100% 0 0 0)
.slide-fade2-leave-to
  -webkit-clip-path inset(0 0 100% 0)
  clip-path inset(0 0 100% 0)

/*                                      */
/*   サイト全体のページ遷移のトランジション   */
/*                                      */
.page-enter-active, .page-leave-active 
  transition opacity .5s
.page-enter, .page-leave-to 
  opacity 0

.custom-classes-enter, .custom-classes-leave-to
  opacity 0

.link-button
  transition all .4s main-transition
  color bg-color
  background txt-color
  text-decoration none
  font-weight bold
  font-size 1.2em
  letter-spacing .1em
  border 1px solid txt-color
  padding 14px 22px
  margin-top 16px
  display inline-block
  &:hover
    transition all .3s main-transition
    background alpha(txt-color, 0)
    color txt-color
    letter-spacing .2em

.link-button-wh
  transition all .4s main-transition
  text-decoration none
  font-weight bold
  font-size 1.2em
  letter-spacing .1em
  padding 14px 22px
  margin-top 16px
  display inline-block
  color txt-color
  background bg-color
  border 1px solid bg-color
  &:hover
    transition all .3s main-transition
    letter-spacing .2em
    background alpha(txt-color, 1)
    color bg-color

/*                                      */
/*           上下左右中央揃え              */
/*                                      */
flex-center = @block {
  display flex
  justify-content center
  align-items center
}
